global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'litemq-broker'
    static_configs:
      - targets: ['broker-master:8080', 'broker-slave:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
